.admin-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  color: #fff;
  flex-direction: column;
}

.wrapper {
  width: 650px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0.2);
  border: 2px solid #3f4d41;
  color: #5cbd7a ;
  border-radius: 10px;
  padding: 30px 40px;
  font-weight: 600;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.admin-dashboard h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.edit-user h3 {
  color: #fff;
  margin-bottom: 13px;
}
