.body-aluno {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela-alunos {
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.tabela-alunos td {
    padding: 10px;
}

.input-pesquisa input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    font-weight: 400;
}