.body-home {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-aeesi img {
  margin-top: 20px;
  width: 300px;
}

.saudacao p {
  white-space: pre-line;
}

.saudacao {
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.menu a:hover {
  text-decoration: underline;
}
