* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow-x: hidden;
  background-color: #f5f1f1;
  color: black;
  position: absolute;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 130px;
}

.padding-main {
  padding-left: 200px;
  padding-right: 200px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  min-height: 600px;
  height: fit-content;
  border-radius: 45px;
  font-weight: 600;
  margin-top: 20px;
}

.wrapper h1 {
  text-align: center;
}

/* NavBar */
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
}

.nav-bar .icon {
  display: none;
}

.logo {
  font-size: 32px;
  color: #44704a;
  text-decoration: none;
  font-weight: 600;
}

.logo img {
  height: 45px;
}

.nav-bar a {
  text-decoration: none;
  color: #018749;
  font-weight: 500;
  margin-left: 20px;
  padding: 3px;
}

a:is(:link, :active, :visited).active {
  color: #01ce72 !important;
  border-bottom: 1px solid #01ce72;
}

/* Flash Message */
#flash {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #000000;
  padding: 15px;
  font-weight: 600;
  font-size: large;
}

.flash-message {
  margin-top: 70px;
}

#flash button {
  border-radius: 40px;
  background: transparent;
  color: #ff0000;
  font-weight: 600;
  background-color: white;
  padding: 5px;
}

#flash button:hover {
  cursor: pointer;
}

.wrapper h3 {
  font-size: 25px;
  font-weight: 600;
}

/*  Home */
.banner-home img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 10px 10px 20px rgba(185, 185, 185, 0.6);
  z-index: -1;
}

.text-matricula {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #000;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
}

.assinar-button button {
  width: 150px;
  padding: 15px;
  border-radius: 25px;
  background-color: #018749;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
}

.sobre-vantagens {
  position: relative;
  display: grid;
  grid-template-columns: 500px auto;
  grid-row-start: initial;
  padding-bottom: 70px;
  padding-top: 30px;
}

.sobre-vantagens .wrapper-cards {
  width: 60vh;
  height: 65vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 3rem auto;
  overflow: hidden;
}

.sobre-vantagens .slide-cards {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  height: 100%;
  width: 100%;
  animation: slider 30s ease-in-out infinite alternate;
}

#slider-img-1 {
  background-image: linear-gradient(transparent 30%, #222222),
    url(../img/slide-home/jiuJitsu.jpg);
  background-position: center;
  background-size: cover;
}

#slider-img-2 {
  background-image: linear-gradient(transparent 30%, #000000),
    url(../img/slide-home/Boxe.jpg);
  background-position: center;
  background-size: cover;
}

#slider-img-3 {
  background-image: linear-gradient(transparent 30%, #222222),
    url(../img/slide-home/academia.jpg);
  background-position: center;
  background-size: cover;
}

#slider-img-4 {
  background-image: linear-gradient(transparent 30%, #000000),
    url(../img/slide-home/runner.jpg);
  background-position: top;
  background-size: cover;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

.matricular {
  grid-row-gap: 1rem;
  flex-direction: column;
  flex: none;
  justify-content: center;
  width: 29rem;
  display: flex;
}

.slide-fotos {
  display: flex;
  justify-content: space-between;
}

.slide {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 3rem auto;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.slide p {
  background-color: #018749;
  padding: 5px;
  width: 100%;
  height: 30%;
  opacity: 0.8;
}

.slide:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

.slider-foto-1 {
  background-image: linear-gradient(transparent 30%, #2b2a2a),
    url(../img/cards/maefilhas.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 35px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.slider-foto-2 {
  background-image: linear-gradient(transparent 30%, #2b2a2a),
    url(../img/cards/colegio.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 35px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.slider-foto-3 {
  background-image: linear-gradient(transparent 30%, #2b2a2a),
    url(../img/cards/medalhas.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 35px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.frase-efeito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vh;
  font-size: 25px;
}

/* User */
.small-section {
  padding: 10px;
  padding-left: 25px;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 800px;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 15px;
}

.dashboard-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px;
  padding-left: 25px;
}

.dashboard-user img {
  width: 150px;
  margin-right: 35px;
}

.user-dados {
  padding: 10px 0;
  font-weight: 300;
}

.button-edit-del-att {
  margin: 15px 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}

.button-edit-del-att a {
  padding: 10px;
  border-radius: 10px;
  width: auto;
  background-color: grey;
  text-decoration: none !important;
}

.button-edit-del-att a:hover {
  text-decoration: none;
  background-color: rgb(151, 149, 149);
}

/* Professores */
.resume {
  text-align: center;
  margin: 15px;
}

.professores {
  border: 1px red solid;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  margin-bottom: 50px;
}

.professor {
  color: black;
  flex: 1 1 30%;
  max-width: 300px;
  height: 450px;
  background: #43a680;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 2px 0 #ccc;
  transition: 0.3s;
  margin: 5px;
}

.professor:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px -5px #18453b;
  cursor: pointer;
  border-radius: 40px;
  background-color: #18453b;
  color: white;
}

.profile-icon {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin: 25px 0 10px 0;
}

/* Cursos */
.container-site {
  padding-bottom: 140px;
  margin: 0;
}

.banner-cursos {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: 50% 25%;
  padding-left: 80px;
  padding-top: 200px;
  padding-bottom: 150px;
  height: 100%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-image: linear-gradient(transparent 30%, #000000),
    url(../img/bgs/bg-cursos.jpg);
  font-size: 20px;
  font-weight: 600;
  color: white;
  box-shadow: 5px 5px 20px rgba(44, 44, 44, 0.6);
}

.aulas-info {
  margin: 50px 0;
}

.cursos-info {
  width: 100%;
  max-width: 90rem;
}

.cursos-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 150px;
}

.card-content h3 {
  padding: 15px;
}

.title {
  font-size: 25px;
}

.title,
.resume {
  text-align: left;
  margin: 0;
}

.destak {
  color: #018749;
}

.cursos-cardlist h3 {
  color: #039752;
  font-weight: 900;
  font-size: 30px;
  font-family: Montserrat, sans-serif;
}

.cursos-cardlist {
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.card {
  color: black;
  background-color: #fff;
  border-radius: 1rem;
  max-width: 45rem;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
}

.card-image {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  min-width: 12rem;
  max-width: 12rem;
  min-height: 17rem;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(51, 51, 51, 0.6);
}

.card-image img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.curso-descricao {
  margin: 15px;
}

.card-content {
  position: relative;
}

.card-content a {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  color: #018749;
  padding-left: 30px;
}

.card-content a:hover {
  text-decoration: underline;
}

.padding-bottom {
  padding: 15px;
}

/* Curso */
.title-curso {
  padding-top: 70px;
}

.aula-beneficio-content {
  padding: 50px 0;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.beneficio {
  width: 500px;
}

.beneficio h1 {
  font-size: 44px;
}

.beneficio p {
  font-size: 28px;
}

.beneficio-aula {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.beneficio-aula .benef {
  width: 330px;
}

.beneficio-aula img {
  width: 70px;
}

.professores-section {
  width: 100%;
  height: 80%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.professores-section .card {
  margin: 30px 0;
  width: 550px;
  height: 100%;
}

/* Inputbox */
.wrapper .input-box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 10px 0px;
}

.input-box input {
  color: #000000;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  font-weight: 400;
}

.input-box input::placeholder {
  color: #000000;
}

/* Registro */
.registro {
  margin-bottom: 50px;
}

/* buttons */
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 3px;
  padding: 5px;
}

.wrapper .btn:hover {
  background-color: #d8d7d7;
}

.wrapper li {
  list-style-type: none;
}

/* Link */
.wrapper a {
  text-decoration: none;
  color: black;
}

.wrapper a:hover {
  text-decoration: underline;
}

.bolsa-curso {
  display: flex;
  justify-content: center;
}

.bolsa-curso div {
  padding: 10px;
}

/* Pagamento */
/* Upload Arquivos */
.upload {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.upload legend {
  text-align: center;
  padding-bottom: 10px;
  color: #000;
}

.input-up {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #727171;
  border-radius: 40px;
  font-size: 16px;
  padding: 10px 35px 10px 10px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.upload-submit {
  display: flex;
}

.upload-submit .btn {
  width: 120px;
}

.pagamentos form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#directory li {
  color: #000;
}

.pagamentos fieldset li {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type="checkbox"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

.checkbox-wrapper-13 {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-wrapper-13 a {
  padding-left: 5px;
  color: #018749;
}

.checkbox-wrapper-13 img {
  width: 40px;
}

.cadastrar-pagamento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cadastrar-pagamento a {
  padding: 10px !important;
  text-align: center;
  width: 200px !important;
}

/* Login */
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.remember-forgot {
  margin: 20px 0px;
}

.remember-forgot a {
  padding-left: 30px;
}

/* Alunos */
#aluno-pesquisa {
  margin-top: 15px;
}

#aluno-pesquisa li {
  padding: 3px;
  text-align: center;
  font-size: medium;
}

/* Table-Test-Alunos */
.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  border-right: 1px solid #343a45;
  font-size: 18px;
  font-weight: 100;
  padding: 12px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 15px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #777779;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #777779;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 18px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* Aluno */
.wrapper .dados-aluno {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 0 50px;
}

.wrapper h1 {
  padding-top: 30px;
}

.dados-aluno table {
  width: 100%;
  padding: 1.8rem;
  text-align: center;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.dados-aluno table:hover {
  box-shadow: none;
}

.dados-aluno table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: black;
}

/* Footer */

.footer-basic {
  padding-top: 20px;
  background-color: #0c0d0e;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
}

.footer-basic ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 5px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
  .container {
    padding-bottom: 20px;
  }

  .nav-bar {
    background-color: white;
  }

  .banner-home {
    padding-top: 50px;
  }

  .padding-main {
    padding-left: 80px;
    padding-right: 80px;
  }

  .sobre-vantagens .matricular {
    width: 80%;
  }

  .sobre-vantagens .wrapper-cards {
    width: 100%;
    margin: 0;
  }

  .footer-basic .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }

  .cursos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cursos-cardlist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .padding-main {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 800px) {
  .nav-bar {
    height: 60px;
  }

  .nav-bar a:not(:first-child) {
    display: none;
  }

  .nav-bar a.icon {
    float: right;
    display: block;
  }
}

@media (max-width: 800px) {
  .container {
    padding-bottom: 0;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 0;
  }

  .nav-bar {
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s ease;
  }

  .nav-bar.responsive {
    height: auto;
    background-color: white;
    animation: showNav 0.4s ease-in-out forwards;
    top: -100%;
  }

  @keyframes showNav {
    to {
      top: 0;
    }
  }

  .sobre-vantagens .wrapper-cards {
    margin: 70px 0;
    width: 100%;
    height: 400px;
  }

  .title h1 {
    font-size: 35px;
  }

  .sobre-vantagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .slide-fotos {
    flex-direction: column;
    width: auto;
    height: 100%;
    padding: 0 50px;
    padding-bottom: 50px;
  }

  .slide {
    margin: 5px;
  }

  .matricular {
    width: 95%;
  }

  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav-bar.responsive img {
    display: none;
  }

  .nav-bar.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-submit {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }

  .upload-submit .btn {
    margin-top: 15px;
  }

  .footer-basic {
    height: 230px;
    padding-top: 5px;
  }

  .footer-basic .list-inline {
    display: flex;
    flex-direction: column;
  }

  .cursos-content {
    padding: 0 90px;
  }

  .card-image {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    min-width: 10rem;
    min-height: 23rem;
    position: relative;
    overflow: hidden;
  }

  .card-content a {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .banner-cursos {
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .footer-basic {
    padding-top: 10px;
    height: 190px;
  }

  .footer-basic ul {
    font-size: 16px;
  }

  .footer-basic .list-inline-item:last-child {
    display: none;
  }

  /* Cursos */
  .cursos-content {
    padding: 0 60px;
  }

  .card {
    width: auto;
  }

  .card h3 {
    padding-bottom: 0;
  }

  .card-image {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    min-width: 10rem;
    min-height: 24rem;
    position: relative;
    overflow: hidden;
  }

  .banner-cursos {
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 14px;
  }

  .cursos-cardlist h3 {
    color: #039752;
    font-weight: 900;
    font-size: 23px;
  }
}

@media (max-width: 480px) {
  .cursos-content {
    padding: 0 30px;
  }

  .card .curso-descricao {
    font-size: 14px;
  }

  .card a {
    font-size: 14.3px;
    padding: 0 10px;
    padding-bottom: 5px;
  }

  .card-image {
    width: 6rem;
  }
}
