* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow-x: hidden;
  color: #edeffd;
  background-color: #181a1e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  flex-direction: column;
  position: relative;
  padding-bottom: 130px;
}

.wrapper {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  border-radius: 45px;
  padding-bottom: 40px;
  font-weight: 600;
}

/* NavBar */

.nav-bar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #3d3d3d;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden
}

.nav-bar .icon{
  display: none;
}

.logo {
  font-size: 32px;
  color: #44704a;
  text-decoration: none;
  font-weight: 600;
}

.logo img {
  height: 45px;
}

.nav-bar a {
  text-decoration: none;
  color: #018749;
  font-weight: 500;
  margin-left: 20px;
}

.flash-message {
  color: #feffdf;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: 600;
  font-size: large;
}

.flash-message button {
  padding: 5px;
  margin-left: 10px;
  border-radius: 40px;
  background: transparent;
  color: #feffdf;
  font-weight: 600;
}

.wrapper h1,
h2,
h3 {
  margin: 15px;
}

.wrapper h3 {
  font-size: 25px;
  font-weight: 600;
}

/*  Home */
.wrapper .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper .menu h3 {
  padding: 10px;
  font-size: 18 px;
}

.wrapper .menu .menu-buttons ul {
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.faixada {
  padding: 20px;
}

.faixada .logo-aeesi {
  width: 50%;
  float: left;
  padding: 20px;
}

.faixada .saudacao {
  width: 50%;
  float: left;
  padding: 20px;
}

.faixada .logo-aeesi img {
  float: left;
  width: 100%;
  object-fit: contain;
}

.faixada .saudacao {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.faixada .saudacao p {
  margin: 5px;
  font-size: 15px;
}

/* Inputbox */
.wrapper .input-box {
  width: 100%;
  height: 50px;
  position: relative;
}

.input-box input {
  color: #b9b9b9;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  font-weight: 400;
}

.input-box input::placeholder {
  color: #ffffff;
}

/* buttons */
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 3px;
  padding: 5px;
}

.wrapper button:hover {
  background-color: #e0e0e0;
}

.wrapper li {
  list-style-type: none;
}

/*Link*/
.wrapper a {
  text-decoration: none;
  color: #61b390;
}

.wrapper a:hover {
  text-decoration: underline;
}

.bolsa-curso {
  display: flex;
  justify-content: center;
}

.bolsa-curso div {
  padding: 10px;
}

/* Upload Arquivos */
.upload {
  display: flex;
  justify-content: center;
}

.input-up {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 35px 10px 10px;
  font-weight: 400;
  text-align: center;
}

.upload-submit {
  display: flex;
}

.upload-submit .btn {
  width: 120px;
}

/* Login */
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
  font-size: 20px;
  color: black;
}

/* Alunos */
#aluno-pesquisa {
  margin-top: 15px;
}

#aluno-pesquisa li {
  padding: 3px;
  text-align: center;
  font-size: medium;
}

/* Aluno */
.wrapper .dados-aluno {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  width: 100%;
}

.dados-aluno table {
  background-color: rgb(32, 32, 32);
  width: 100%;
  padding: 1.8rem;
  text-align: center;
  box-shadow: 0 1rem 1.5rem #202528;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.dados-aluno table:hover {
  box-shadow: none;
}

.dados-aluno table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: #bad8b6;
}

/* Pagamentos */

/* Footer */

.footer-basic {
  padding-top: 20px;
  background-color: #0c0d0e;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
}

.footer-basic ul {
  
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 5px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
    height: 90%;
    padding: 0px;
  }

  .wrapper .pagamentos {
    width: 80%;
  }

  .wrapper form .register-inputs {
    display: flex;
    flex-direction: row;
  }

  .footer-basic {
    position: relative;
  }

  .footer-basic .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }

}

@media (max-width: 1200px) {

  .container {
    width: 100%;
  }

  .wrapper {
    width: 80%;
  }

  .wrapper .faixada .logo-aeesi {
    position: relative;
    top: 30%;
  }

  .footer-basic .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {

  .nav-bar a:not(:first-child) {
    display: none;
  }

  .nav-bar a.icon {
    float: right;
    display: block;
  }

  .wrapper .faixada .logo-aeesi {
    position: relative;
    top: 0%
  }
  
}

@media (max-width: 800px) {


  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav-bar.responsive img {
    display: none;
  }

  .nav-bar.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }

  .wrapper .faixada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .wrapper .faixada .logo-aeesi {
    padding: 5px;
    margin-top: 50px;
  }

  .wrapper .faixada .saudacao {
    padding: 0px;
  }

  .upload-submit {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }

  .upload-submit .btn {
    margin-top: 15px;
  }

  .footer-basic {
    height: 230px;
    padding-top: 5px;
  }

  .footer-basic .list-inline {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {

  .wrapper .menu .menu-buttons ul li{
    width: 230px;
  }

  .wrapper .btn {
    height: 40px;
  }

  .wrapper .menu-buttons ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-basic {
    height: 130px;
    padding: 0px;
  }

  .footer-basic ul {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  .footer-basic .list-inline-item:last-child{
    display: none;
  }

  .saudacao p {
    display: none;
  }

}
