* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow-x: hidden;
  color: #edeffd;
  background-color: #181a1e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  flex-direction: column;
}

.wrapper {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 650px;
  border: 2px solid #1f1f1f;
  border-radius: 45px;
  padding: 30px 40px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* NavBar */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border: 2px solid #3f4d41;
  background: #fff;
}

.nav-bar {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.logo {
  font-size: 32px;
  color: #44704a;
  text-decoration: none;
  font-weight: 600;
}

.logo img {
  height: 45px;
}

.nav-bar a {
  text-decoration: none;
  color: #018749;
  font-weight: 500;
  margin-left: 20px;
}

.flash-message {
  color: #feffdf;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: 600;
  font-size: large;
}

.flash-message button {
  padding: 5px;
  margin-left: 10px;
  border-radius: 40px;
  background: transparent;
  color: #feffdf;
  font-weight: 600;
}

.wrapper h1 {
  margin: 10px;
}

/*  Home */
.wrapper .saudacao {
  font-size: 15px;
  margin: 10px;
}

.wrapper .saudacao h1 {
  text-align: center;
}

.wrapper .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper .menu h3 {
  padding: 10px;
  font-size: 18 px;
}

.wrapper .menu .menu-buttons ul {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

/* Inputbox */
.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  position: relative;
}

.input-box input {
  color: #b9b9b9;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  font-weight: 400;
}

.input-box input::placeholder {
  color: #ffffff;
}

/* buttons */
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 3px;
}

.wrapper li {
  list-style-type: none;
}

/*Link*/
.wrapper a {
  text-decoration: none;
  color: #018749;
}

.wrapper a:hover {
  text-decoration: underline;
}

.bolsa-curso {
  display: flex;
  justify-content: center;
}

.bolsa-curso div {
  padding: 10px;
}

/* Upload Arquivos */
.upload {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  margin-bottom: 15px;
}

.upload div {
  padding: 0 10px;
}

.up {
  margin-top: 15px;
}

.input-up {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
  font-weight: 400;
  text-align: center;
}

/* Login */
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
  font-size: 20px;
  color: black;
}
