.body-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0.2);
    border: 2px solid #3f4d41;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    font-weight: 600;
  }

  .wrapper h1 {
    text-align: center;
    margin-bottom: 25px;
  }

  .envio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  
  .envio .btn {
    text-align: center;
    width: 50%;
    background: #fff;
    height: 25px;
    border: #9e9d9d;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 9px;
  }

  .envio .file_up {
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #9e9d9d;
    border-radius: 15px;
  }
