<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/admin.css')}}"
    />
    <title>AEESI: Admin</title>
  </head>
  <body>
    {%include 'navigation.html'%}
    <div class="admin-body">
      <div class="admin-dashbord">
        <h1>Hello Admin</h1>
      </div>
      <div class="edit-user">
        <h3>Editar usuário</h3>
        {% for user in users %}
        <p>{{user.nome}}</p>
        {%endfor%}
      </div>
    </div>
  </body>
</html>
