<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/admin.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <title>AEESI: Admin</title>
  </head>
  <body>
    <div class="container-admin">
      <!-- SideBar -->
      <aside>
        <div class="toggle">
          <div class="logo-sidebar">
            <img src="../static/img/logo2.png" />
            <h2>AEESI - Instituto</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-outlined"> close </span>
          </div>
        </div>

        <div class="sidebar">
          <a href="#">
            <span class="material-symbols-outlined"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined"> person_outline </span>
            <h3>Users</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined"> settings </span>
            <h3>Configurações</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined"> add </span>
            <h3>New Login</h3>
          </a>
          <a href="{{url_for('home')}}">
            <span class="material-symbols-outlined"> logout </span>
            <h3>Home</h3>
          </a>
        </div>
      </aside>
      <!-- End SideBar -->

      <!-- End SideBar -->
      <main>
        <!-- Mudar para nome da página atual se necessário -->
        <h1>Dashboard</h1>
        <!--Analise-->
        <div class="analyse">
          <div class="parametro">
            <div class="status">
              <div class="info">
                <!-- Mudar com dados do banco de dados -->
                <h3>Total de Alunos</h3>
                <h1>{{alunos.query.count()}}</h1>
                <!-- Mudar para gráfico Matplotlib com dados BG -->
                <div class="progresso">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="percentage">
                    <p>+20%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="parametro">
            <div class="status">
              <div class="info">
                <h3>Porcentagem Com Bolsa de Estudos</h3>
                <h1>{{alunos.query.filter_by(bolsa=True).count()}}</h1>
                <!-- Mudar para gráfico Matplotlib com dados BG -->
                <div class="progresso">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="percentage">
                    <p>+20%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="parametro">
            <div class="status">
              <div class="info">
                <!-- Mudar com dados do banco de dados -->
                <h3>Aviversariante(s) do Mês</h3>
                <h1>Pegar info depois</h1>
                <!-- Mudar para gráfico Matplotlib com dados BG -->
                <div class="progresso">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="percentage">
                    <p>+20%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="parametro">
            <div class="status">
              <div class="info">
                <!-- Mudar com dados do banco de dados -->
                <h3>Porcentagem em cada curso</h3>
                <h2>...</h2>
                <!-- Mudar para gráfico Matplotlib com dados BG -->
                <div class="progresso">
                  <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                  </svg>
                  <div class="percentage">
                    <p>+20%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Analise-->

        <!-- Alunos Novos -->
        <div class="recent-alunos">
          <h2>New Students</h2>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Curso</th>
                <th>Idade</th>
                <th>Pagamento</th>
                <th>Bolsa?</th>
              </tr>
            </thead>


            <tbody>
              {%for aluno in reversed(alunos.query.all()[-5:])%}
              <tr>
                <td>
                  <a href="{{url_for('aluno', aluno_id=aluno.id)}}"
                    >{{aluno.nome}}</a
                  >
                </td>
                <td>{{aluno.curso}}</td>
                <td>{{aluno.idade}}</td>
                <td>
                  {% for pag in aluno.pagamento %} 
                    {% if pag.pagamento %} 
                      Pago 
                    {% else %} 
                      Não Pago 
                    {% endif %} 
                  {% endfor %}
                </td>
                <td>
                  {% if aluno.bolsa %}
                    Possui Bolsa
                  {% else %}
                    Não Possui
                  {% endif %}
                </td>
              </tr>
              {%endfor%}

              <section class="itens-toShow" style="display: none;">
                  {%for aluno in reversed(alunos.query.all()[0:-5])%}
                  <tr>
                    <td>
                        <a href="{{url_for('aluno', aluno_id=aluno.id)}}"
                          >{{aluno.nome}}</a
                        >
                      </td>
                      <td>{{aluno.curso}}</td>
                      <td>{{aluno.idade}}</td>
                      <td>
                        {% for pag in aluno.pagamento %} 
                          {% if pag.pagamento %} 
                            Pago 
                          {% else %} 
                            Não Pago 
                          {% endif %} 
                        {% endfor %}
                      </td>
                      <td>
                        {% if aluno.bolsa %}
                          Possui Bolsa
                        {% else %}
                          Não Possui
                        {% endif %}
                      </td>
                    </tr>
                  {%endfor%}
              </section>
              

            </tbody>

          </table>

          <button class="mostrar-itens">Mostrar Todos</button>
        </div>
      </main>

      <!-- right seletion-->
      <div class="right-section">
        <!-- nav-->
        <div class="nav">
          <button id="menu-btn">
            <span class="material-symbols-outlined"> menu </span>
          </button>

          <div class="dark-mode">
            <span class="material-symbols-outlined"> dark_mode </span>
            <span class="material-symbols-outlined"> light_mode </span>
          </div>

          <div class="profile">
            <div class="info">
              <p>Ola, <b>{{admin.nome}}</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-foto">
              <!-- Mudar para foto personalizad -->
              <img src="../static/img/logo2.png" />
            </div>
          </div>
        </div>

        <div class="aeesi-profile">
          <div class="logo-user">
            <img src="../static/img/logo.png" />
            <h2>Academia AEESI</h2>
            <p>Aplicativo para controle de alunos e professores.</p>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/main.js"></script>
  </body>
</html>
