<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/admin.css')}}"
    />
    <title>AEESI: Admin</title>
  </head>
  <body>
    {%include 'navigation.html'%}
    <div class="admin-body">
      <div class="wrapper">
        <div class="admin-dashboard">
          <div class="intro">
            <h1>
              Admin: {{admin.nome}}
              {%if admin.dev%}
                (dev)
              {%endif%}
            </h1>
            <p>Fazer Dashboard futuramente..</p><br><br>
          </div>
          <div class="admin-info wrap">
            <p>
              Nome: {{admin.nome}} {{admin.sobrenome}} <br>
              Email: {{admin.email}} <br>
              Função: (adicionar...)
            </p>
          </div>
        </div>
        <div class="edit-user wrap">
          <h3>Editar usuário</h3>
          {% for user in users %}
          <p><a href="{{url_for('edit_user', user_id = user.id)}}">{{user.nome}}</a></p>
          {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
