{%extends "navigation.html"%}
{% block content %} 
    <h3>Teste de Página! <br><br> Dados do aluno: {{template_nome_aluno}}</h3>
    <p>
        Curso: {{template_alunos[template_nome_aluno][0]}} <br>
        Idade: {{template_alunos[template_nome_aluno][1]}} <br>
        Telefone: {{template_alunos[template_nome_aluno][2]}} <br>
        <!--Descrição: {{template_alunos[template_nome_aluno][3]}} <br>
        Possui Bolsa: {% if template_alunos[template_nome_aluno][4] == True %}
            Possui
        {% else %}
            Não possui
        {% endif %}
        -->
    </p>
{%endblock%} 