{%extends "navigation.html"%}
{%block content%}
    <div>
        <h3>Alunos</h3>
        <ul>
        {% for aluno in alunos %}
            <li> <a href=" {{ url_for('aluno', aluno_id=aluno.id) }}">{{ aluno.nome }}</a> </li>
        {% endfor %}
        </ul>

        <div>
            <p><a href="{{ url_for('cadastro_aluno') }}"><strong>Cadastrar Aluno</strong></a></p>   
        </div>

        <div>
            <p>Pesquisar Aluno</p>
            <div>
                <form method="POST">
                    {{form_pesquisa.hidden_tag()}}
                    {{form_pesquisa.pesquisa()}} {{form_pesquisa.submit()}}
                </form>
            </div>
        </div>
    </div>
{%endblock%}