<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aluno.css')}}"
    />
    <title>AEESI: Aluno</title>
  </head>
  <body>
    {%include "navigation.html"%}
    <div class="body-wrap">
      <div class="wrapper">
        <div class="aluno-name">
          <h3>Dados do aluno: {{aluno.nome}}</h3>
        </div>
        <div class="dados-aluno">
          <p>
            Curso: {{aluno.curso}} <br />
            Idade: {{aluno.idade}} <br />
            Bolsista: {%if aluno.bolsa == True: %} É Bolsista {%else%} Não é
            Bolsista {%endif%}
            <br>
            
          </p>
          <div class="button">
            <a
              href="{{url_for('editar_aluno', aluno_name=aluno.nome, aluno_id=aluno.id)}}"
              ><button class="btn">Editar informações</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
