{%extends "navigation.html"%}
{%block content%}
<div>
    <h2>Guia de Cadastro</h2>
</div>

<div>
    <!--
    Forma de fazer Formulário pelo HTML

    <form action="/cadastrar-aluno" method="POST">
        <h3>Adicione um novo Aluno!</h3>

        <p>
            <label for="nome">Nome:</label>
            <input type="text" name="nome">
        </p>

        <p>
            <label for="curso">Curso:</label>
            <input type="text" name="curso">
        </p>

        <p>
            <label for="idade">Idade</label>
            <input type="text" name="idade">
        </p>
        <p><input type="submit" name="submit_cadastro"/></p>
    </form>
    -->

    <!--Fazer Pelo aplicativo-->
    <form method="POST">
        {{ template_form.hidden_tag() }}
        <p>
            {{ template_form.nome.label }}
            {{ template_form.nome() }}
        </p>
        <p>
            {{ template_form.curso.label }}
            {{ template_form.curso() }}
        </p>
        <p>
            {{ template_form.idade.label }}
            {{ template_form.idade() }}
        </p>
        <p>
            {{ template_form.data_nascimento.label }}
            {{ template_form.data_nascimento() }}
        </p>
        <p>{{ template_form.submit() }}</p>
    </form>

</div>
{%endblock%}