{% extends "base.html" %} {% block title %}Aluno: {{ aluno.nome }}{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="container">
  <div class="wrapper">
    <h1>Comprovantes de {{ aluno }}</h1>
    <br />
    {% for i,file in enumerate(files) %}
    <div class="download-comprovante">
      Pagamento do mês: {{ mes_pagamento[i] }} -
      <a href="{{ url_for('download', aluno_id=aluno.id, filename=file) }}"
        >Download</a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
