{% extends "base.html" %} {% block title %}Cursos{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}
<div class="container-site">
  <div class="banner-cursos">
    <h1>Conheça</h1>
    <h1 class="destak">Nossas Aulas</h1>
  </div>
  <div class="wrapper-cursos">
    <div class="cursos-content">
      <div class="cursos-info">
        <div class="aulas-info">
          <div class="title">
            <h1>Aulas</h1>
            <h1 class="destak">AEESI</h1>
          </div>
          <div class="resume">
            <p>
              Nossa abordagem na AEESI vai além do simples exercício,
              proporcionando experiências verdadeiramente transformadoras. Desde
              treinos intensos de jiu-jitsu até sessões revigorantes de
              musculação. Sob a orientação de instrutores dedicados, cada aula
              se torna uma jornada que combina desafio e diversão. 
            </p>
            <p>
              Descubra o
              poder da diversidade conosco e alcance seus objetivos de forma
              dinâmica e motivadora. Na AEESI, nossas aulas representam mais do
              que simples atividades físicas.
            </p>
          </div>
        </div>
        <div class="cursos-cardlist">
          <div class="card">
            <div class="card-image">
              <img
                src="../static/img/cursos/cards/Jiu-Jitsu-card-image.jpg"
                alt=""
              />
            </div>
            <div class="card-content">
              <h3>Aulas de Jiu-Jitsu</h3>
              <div class="curso-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
              </div>
              <a href="{{ url_for('curso', nameCourse='Jiu-Jitsu') }}"
                >Saiba mais sobre essa aula</a
              >
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img
                src="../static/img/cursos/cards/Boxe-card-image.jpg"
                alt=""
              />
            </div>
            <div class="card-content">
              <h3>Aulas de Boxe</h3>
              <div class="curso-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
              </div>
              <a href="{{ url_for('curso', nameCourse='Boxe') }}"
                >Saiba mais sobre essa aula</a
              >
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img
                src="../static/img/cursos/cards/RitBox-card-image.jpg"
                alt=""
              />
            </div>
            <div class="card-content">
              <h3>Aulas de RitBox</h3>
              <div class="curso-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
              </div>
              <a href="{{ url_for('curso', nameCourse='RitBox') }}"
                >Saiba mais sobre essa aula</a
              >
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img
                src="../static/img/cursos/cards/Musculação-card-image.jpg"
                alt=""
              />
            </div>
            <div class="card-content">
              <h3>Musculação</h3>
              <div class="curso-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
              </div>
              <a href="{{ url_for('curso', nameCourse='Musculação') }}"
                >Saiba mais sobre essa aula</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
