<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cursos.css')}}"
    />
    <title>AEESI: Cursos</title>
  </head>
  <body>
    {%include 'navigation.html'%}
    <div class="container-site">
      <div class="banner-cursos">
        <h1>Conheça</h1>
        <h1>Nossas Aulas</h1>
      </div>
      <div class="wrapper-cursos">
        <div class="cursos-content">
          <div class="title">
            <h1>Aulas</h1>
            <h1>AEESI</h1>
          </div>
          <div class="resume">
            <p>
              Nossas aulas na Bluefit transcendem o simples exercício, são
              experiências transformadoras. De HIIT intenso a aulas revigorantes
              de yoga, oferecemos variedade para todos os gostos e níveis.
              Guiadas por instrutores apaixonados, cada aula é uma jornada que
              equilibra desafio e diversão. Descubra o poder da diversidade e
              alcance seus objetivos de forma dinâmica e motivadora. Na Bluefit,
              as aulas não são apenas atividades, são oportunidades para se
              superar e se conectar.
            </p>
          </div>
          <div class="cursos-cardlist">
            <div class="card">
              <div class="card-image">
                <img
                  src="../static/img/cursos/jiujiitsu/card-image.jpg"
                  alt=""
                />
              </div>
              <div class="card-content">
                <h3>Titulo do Curso 1</h3>
                <div class="curso-descricao">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                  nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
                </div>
                <a href="#">Saiba mais sobre essa aula</a>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img
                  src="../static/img/cursos/jiujiitsu/card-image.jpg"
                  alt=""
                />
              </div>
              <div class="card-content">
                <h3>Titulo do Curso 1</h3>
                <div class="curso-descricao">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                  nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
                </div>
                <a href="#">Saiba mais sobre essa aula</a>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img
                  src="../static/img/cursos/jiujiitsu/card-image.jpg"
                  alt=""
                />
              </div>
              <div class="card-content">
                <h3>Titulo do Curso 1</h3>
                <div class="curso-descricao">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                  nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
                </div>
                <a href="#">Saiba mais sobre essa aula</a>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img
                  src="../static/img/cursos/jiujiitsu/card-image.jpg"
                  alt=""
                />
              </div>
              <div class="card-content">
                <h3>Titulo do Curso 1</h3>
                <div class="curso-descricao">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                  nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
                </div>
                <a href="#">Saiba mais sobre essa aula</a>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img
                  src="../static/img/cursos/jiujiitsu/card-image.jpg"
                  alt=""
                />
              </div>
              <div class="card-content">
                <h3>Titulo do Curso 1</h3>
                <div class="curso-descricao">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                  nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
                </div>
                <a href="#">Saiba mais sobre essa aula</a>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img
                  src="../static/img/cursos/jiujiitsu/card-image.jpg"
                  alt=""
                />
              </div>
              <div class="card-content">
                <h3>Titulo do Curso 1</h3>
                <div class="curso-descricao">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                  nihil eos esse qui necessitatibus aperiam sit tenetur omnis.
                </div>
                <a href="#">Saiba mais sobre essa aula</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
