{% extends "base.html" %} {% block title %}{{curso}}{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}
<div class="container-site">
  <div class="wrapper-site">
    <div class="banner-curso">
      <img src="../static/img/cursos/bg-curso/{{ curso }}.jpg" alt="" />
      <figcaption>Aulas de {{curso}}</figcaption>
    </div>
    <div class="wrapper-cursos">
      <div class="padding-main">
        <div class="aula-beneficio-content">
          <div class="beneficio">
            <h1 class="destak">Benefícios</h1>
            <p>
              Os principais e mais notórios benefícios à saúde dessa aula são:
            </p>
          </div>
          <div class="beneficio-aula">
            <div class="beneficio-um benef">
              <img src="../static/img/cursos/icons/fogocaloria.png" alt="" />
              <h2>Calorias</h2>
              <p>
                Queima {{ cursos_info[curso]['beneficios']}} por hora, o
                equivalente a...
              </p>
            </div>
            <div class="beneficio-dois benef">
              <img src="../static/img/cursos/icons/saude.png" alt="" />
              <h2>Saúde</h2>
              <p>{{ cursos_info[curso]['saude']}}</p>
            </div>
          </div>
        </div>
        <div class="professores-section">
          <div class="professores-content">
            <h1 class="destak">Professores</h1>
            <div class="card">
              <div class="card-image">
                <img
                  src="../static/img/cursos/cards/{{curso}}-card-image.jpg"
                  alt=""
                />
              </div>
              <div class="card-content">
                <h2 class="destak">Aulas de {{ curso }}</h2>
                <div class="curso-descricao">
                  Essa atividade conta com os professores: <br />
                  <strong> {{ cursos_info[curso]['professores']}} </strong>
                </div>
              </div>
            </div>
          </div>
          <div class="horarios-section">
            <div class="horarios-title">
              <img src="../static/icon/relogio.png" alt="" />
              <h1 class="destak">Horários</h1>
            </div>
            <div class="horarios-content">
              <p>
                {% for k, v in cursos_info[curso]['horarios'].items() %} {{k}}:
                {{v}} <br />
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
        <div class="valor">
          <h2>Valor das aulas de {{curso}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
