{%extends "navigation.html"%}
{%block content%}
<div>
    <h2>Guia de Edição</h2>
</div>

<div>
    <form method="POST">
            {{ editar_form.hidden_tag() }}
        <p>
            {{ editar_form.nome.label }}
            {{ editar_form.nome() }}
        </p>
        <p>
            {{ editar_form.sobrenome.label }}
            {{ editar_form.sobrenome() }}
        </p>
        <p>
            {{ editar_form.idade.label }}
            {{ editar_form.idade() }}
        </p>
        <p>
            {{ editar_form.curso.label }}
            {{ editar_form.curso() }}
        </p>
        <p>
            {{editar_form.bolsa.label}}
            {{editar_form.bolsa()}}
        </p>
        <p>{{ editar_form.submit() }}</p>
    </form>
</div>
<div>
    <a href="">Deletar Aluno</a>
</div>
{%endblock%}