<div class="footer-basic">
  <!-- Mudar esse ícones horríveis -->
  <footer>
    <div class="social">
      <a href="#"><i class="icon ion-social-instagram"></i></a
      ><a href="#"><i class="icon ion-social-facebook"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Serviços</a></li>
      <li class="list-inline-item"><a href="#">Sobre nós</a></li>
      <li class="list-inline-item"><a href="#">Termos</a></li>
      <li class="list-inline-item"><a href="#">Política de Privacidade</a></li>
    </ul>
    <p class="copyright">
      Copyright ©2024 | Desined by: <a href="#">Hendrius Félix</a>
    </p>
  </footer>
</div>
