<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    {%include "navigation.html"%}
    <div class="body-home">
      <div>
        <div class="logo-aeesi">
          <img src="../static/img/logo.png" alt="logo yin yang do instituto" />
          <h1 class="title">Aplicativo de Controle AEESI</h1>
        </div>
        <div class="saudacao">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero et
            harum reiciendis perferendis, delectus blanditiis quibusdam deserunt
            saepe voluptas tenetur nam eum quod vitae dolor repudiandae
            dignissimos atque voluptates nemo.
          </p>
        </div>

        <div class="menu">
          <ul>
            <li><a href="{{url_for('alunos_cadastrados')}}">Alunos</a></li>
            <li><a href="{{url_for('cursos')}}">Cursos Disponíveis e Horários</a></li>
            <li><a href="#">Professores e Formações</a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
