<div class="nav-bar">
    <h1>Aplicativo de Controle AEESI!</h1>
    <div>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('upload_files')}}">Upload</a></li>
            <li>
                {% if current_user.is_authenticated %}
                <a href="{{url_for('user_page',user_id=current_user.get_id())}}">Página do Usuário</a>
            {%else%}
                <a href="{{url_for('user_page',user_id=1)}}">Página do Usuário</a>
            {%endif%}
            </li>
            <li><a href="">Admin</a></li>
        </ul>
    </div>
</div>
