<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css')}}"
/>
<header class="header">
  <a class="logo" href="{{url_for('home')}}">
    <img src="../static/img/logo2.png" alt="logo AEESI" />AEESI</a
  >
  <nav class="nav-bar">
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('register')}}">Register</a>
    <a href="{{url_for('login')}}">Login</a>
    <a href="{{url_for('upload_files')}}">Upload</a>
    {% if current_user.is_authenticated %}
    <a href="{{url_for('user_page',user_id=current_user.get_id())}}"
      >Página do Usuário</a
    >
    {%else%}
    <a href="{{url_for('user_page',user_id=1)}}">Página do Usuário</a>
    {%endif%} {%if current_user.dev == 1 %}
    <a href="{{url_for('admin')}}">Admin</a>
    {%endif%}
  </nav>
</header>

<div id="flash" class="flash-message">
  {%for message in get_flashed_messages()%}
  <strong id="flash">{{message}}</strong><br />
  <button onclick="document.getElementById('flash').style.display = 'none';">
    X
  </button>
  {%endfor%}
</div>
