<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AEESI: Upload</title>
  </head>
  <body>
    {%include "navigation.html"%}
    <div class="body-wrap">
      <div class="wrapper">
        <h1>Pagamentos</h1>

        <div class="pagamentos">
          <div class="input-box input"><input type="text" id="input-pesquisa" onkeyup="myFunction()" placeholder="Pesquisar Aluno"></div>
          
          

          <ul id="aluno-pesquisa">
            <form method="POST" enctype="multipart/form-data">
              <input type="text" placeholder="Data" name="mes-pagamento">
                {% for aluno in alunos %}
                  {% if aluno.bolsa != True %}
                    {% for pag in aluno.pagamento %}
                      {% if not pag.pagamento %}
                        <li>
                          <p>
                              <input type="checkbox" name="aluno-pesquisa" value="{{aluno.id}}">
                              <a href="#">
                                  {{aluno.nome}}
                              </a>
                          </p>
                        </li>
                      {% endif %}
                    {% endfor %}
                    
                  {% endif %}
                {% endfor %}

                {{ file_form.hidden_tag() }}
              <fieldset class="upload">
                <legend>O que deseja fazer?</legend>
                {{file_form.directory()}}
              </fieldset>
                {{ file_form.file_up() }}
                {{file_form.submit() }}
            </form>
          </ul>
        </div>

      </div>
    </div>

    <!-- Função para Filtro de lista de pesquisa de Alunos -->
    <script>
      function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('input-pesquisa');
        filter = input.value.toUpperCase();
        ul = document.getElementById("aluno-pesquisa");
        li = ul.getElementsByTagName('li');
      
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
      </script>

  </body>
</html>
