<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css')}}"
    />
    <title>Document</title>
  </head>

  <body>
    {%include 'navigation.html'%}
    <div class="container">
      <div class="wrapper">
        <div class="title">
          <h1>Página de Registro</h1>
        </div>
        <form method="POST">
          {{register_form.hidden_tag()}}
          <div>
            <div class="input-box">{{register_form.nome()}}</div>
            <div class="input-box">{{register_form.sobrenome()}}</div>
            <div class="input-box">{{register_form.email()}}</div>
            <div class="input-box">{{register_form.password()}}</div>
            <div class="input-box">{{register_form.password_repeat()}}</div>
          </div>

          <div>
            <p>{{register_form.submit()}}</p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
