<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/upload.css')}}">
    <title>AEESI: Upload</title>
</head>
<body>
    {%include "navigation.html"%}
    <div class="body-upload">
        <div class="wrapper">
            <h1>Upload de Arquivos</h1>
            <div class="envio">
                <form method="POST" enctype="multipart/form-data">
                    {{ file_form.hidden_tag() }}
                    <p>{{ file_form.file_up() }}</p>
                    <p>{{ file_form.submit() }}</p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>