<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AEESI: Upload</title>
  </head>
  <body>
    {%include "navigation.html"%}
    <div class="body-wrap">
      <div class="wrapper">
        <h1>Upload de Arquivos</h1>
        <div>
          <form method="POST" enctype="multipart/form-data">
            {{ file_form.hidden_tag() }}
            <fieldset class="upload">
              <legend>O que deseja fazer?</legend>
              {{file_form.directory()}}
            </fieldset>
            {{ file_form.file_up() }} {{file_form.submit() }}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
