{% extends "base.html" %} {% block title %}Usuario {{user.nome}}{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}
<div id="popup" class="popup">
  <div class="images-delete-user">
    <div><img id="aviso-delete" src="../static/icon/aviso.png" /></div>
    <div><img id="fechar-delete" src="../static/icon/fechar.png" /></div>
  </div>
  <h1>Faça Login novamente para confirmar.</h1>
  <form method="POST">
    {{login_form.hidden_tag()}}

    <div class="input-box input">{{login_form.email()}}</div>

    <div class="input-box input">{{login_form.password()}}</div>
    <div>{{login_form.submit()}}</div>
  </form>
</div>
<div class="wrapper">
  <h1>Dashboard</h1>
  <div class="dashboard-user">
    <div class="user">
      <div class="user-dados">
        <strong>Name: </strong>{{user.nome}} {{user.sobrenome}} <br />
        <strong>User Id:</strong> {{ user.id }} <br />
        <strong>Email:</strong> {{ user.email }} <br />
        <strong>Nível de Acesso:</strong> {% if user.dev == 1 %} Acesso de
        Administrador (dev) {% elif user.dev == 1 %} Acesso de Administrador {%
        else %}Acesso Básico{% endif %}
      </div>
      <div class="button-edit-del-att">
        <div class="logout">
          <a href="{{url_for('logout', user_id=user.id)}}">Sair</a>
        </div>
        <div class="edit-user">
          <a href="{{ url_for('edit_user', user_id=user.id) }}"
            >Atualizar Perfil</a
          >
        </div>
        <!-- Verificar essa sintaxe -->
        <div class="delete-user">
          <a id="delete-user-button" href="javascript:void(0)">Delete</a>
        </div>
      </div>
    </div>
    <div class="profile-foto">
      <img src="../static/icon/profile.png" alt="" />
    </div>
  </div>
</div>

<script>
  // PopUp Messages
  let popup = document.getElementById("popup");
  var deleteButton = document.getElementById("delete-user-button");
  var fecharPopup = document.getElementById("fechar-delete");

  let openPopup = () => {
    popup.classList.add("showpop");
  };

  let closePopup = () => {
    popup.classList.remove("showpop");
  };

  fecharPopup.addEventListener("click", closePopup);
  deleteButton.addEventListener("click", openPopup);
</script>
{% endblock %}
