{% extends "base.html" %} {% block title %}Usuario {{user.nome}}{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}
<div id="popup" class="popup">
  <img src="" />
  <!-- Verificar formulário se esta ok e ver como colocar link no inpu ou mudar
  o input para um link e ver como enviar formulário com isso!!
  -->
  <form methods="POST">
    <div class="input-box">
      <input id="email" type="text" placeholder="Email" />
    </div>
    <div class="input-box">
      <input
        id="password"
        type="password"
        name="password"
        autocomplete="on"
        placeholder="Senha"
      />
    </div>
    <a href="{{ url_for('delete_user', user_id=user.id) }}"
      ><input type="submit" value="Deletar"
    /></a>
  </form>
</div>
<div class="wrapper">
  <h1>Dashboard</h1>
  <div class="dashboard-user">
    <div class="user">
      <div class="user-dados">
        <strong>Name: </strong>{{user.nome}} {{user.sobrenome}} <br />
        <strong>User Id:</strong> {{ user.id }} <br />
        <strong>Email:</strong> {{ user.email }} <br />
        <strong>Nível de Acesso:</strong> {% if user.dev == 1 %} Acesso de
        Administrador (dev) {% elif user.dev == 1 %} Acesso de Administrador {%
        else %}Acesso Básico{% endif %}
      </div>
      <div class="button-edit-del-att">
        <div class="logout">
          <a href="{{url_for('logout')}}">Sair</a>
        </div>
        <div class="edit-user">
          <a href="{{ url_for('edit_user', user_id=user.id) }}"
            >Atualizar Perfil</a
          >
        </div>
        <!-- Verificar essa sintaxe -->
        <div class="delete-user">
          <a id="delete-user-button" href="javascript:void(0)">Delete</a>
        </div>
      </div>
    </div>
    <div class="profile-foto">
      <img src="../static/icon/profile.png" alt="" />
    </div>
  </div>
</div>

<script>
  // PopUp Messages
  let popup = document.getElementById("popup");
  var deleteButton = document.getElementById("delete-user-button");

  let openPopup = () => {
    popup.classList.add("showpop");
  };

  deleteButton.addEventListener("click", openPopup);
</script>
{% endblock %}
