{% extends "base.html" %} {% block title %}Editar Usuário: {{ user_edit }}{%
endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="container">
  <div class="wrapper">
    <h1>Lista de Usuários</h1>
    <div class="lista-users">
      {% for user in users %}
      <a href="{{ url_for('user_page', user_id=user.id) }}">{{user}}</a> {% if
      user.dev == True %} (Dev) {% endif %} {% if user.admin == True %} (Admin)
      {% endif %}
      <br />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
